    body {
        background-color: #f6f7fb;
        min-height: 100vh;
    }
    
    .navbarStyle {
        padding-top: 5px;
        padding-left: 5px;
        background-color: white;
    }
    
    .navigationMenu {
        padding-top: 8px;
    }
    
    .navbarLogoPhoto {
        width: 6vw;
        margin-top: -25px;
    }
    
    .navbarLinks {
        text-align: end;
        margin-bottom: 3vh;
    }
    
    .buttonNavigation {
        margin-top: 20px;
        color: rgb(92, 92, 92);
    }
    
    .buttonJoin {
        margin-top: 20px;
        margin-left: 60px;
        background-color: #638cff;
        padding: 3px 9px;
        border-radius: 5px;
        color: white;
    }
    
    .footerRow {
        margin-top: 20px;
        background-color: white;
    }
    
    .footerText {
        color: rgb(92, 92, 92);
        font-size: 10px;
        padding-top: 10px;
    }
    
    .subscribeColumn {
        background-color: #638cff;
        border-radius: 5px;
        color: white;
        padding: 80px 0;
    }
    
    .subscribeRow {
        border-radius: 5px;
    }
    
    .subscribeButton {
        background-color: white;
        padding: 7px 10px;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(31, 31, 31);
        box-shadow: none;
        border: none;
        margin-left: -4px;
    }
    
    .emailInput {
        padding: 7px 10px;
        border-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: none;
        border: none;
        width: 40%;
        background-color: #4e70ce;
        color: rgb(185, 185, 185);
    }
    
    .emailInput::placeholder {
        color: rgb(185, 185, 185);
    }
    
    .subscribe-main-text {
        font-size: 20px;
        font-weight: bold;
    }
    
    .subscribe-first-p {
        margin-bottom: 0;
    }
    
    .subscribe-bottom-text {
        margin-top: 5px;
        font-size: 10px;
    }
    
    .categoryPhoto {
        width: 50%;
        padding: 20px;
    }
    
    .card {
        width: 31%;
        margin: 1%;
        background-color: white;
        padding: 15px;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .category-title {
        font-weight: bold;
    }
    
    .lectures-number {
        text-align: center;
        color: rgb(151, 151, 151);
    }
    
    .cardsSection {
        margin-top: 40px;
    }
    
    .lectureRow,
    .bannerColumn {
        background-color: white;
        margin: 8px 0;
        border-radius: 5px;
    }
    
    .lectures div:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: 30px;
    }
    
    .lectures div:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .lectureRow {
        padding: 8px 5px;
        margin-bottom: 30px;
    }
    
    .lecture-number {
        color: #4e70ce;
        font-weight: bold;
        font-size: 16px;
        padding-right: 5px;
    }
    
    .lecture-title {
        font-size: 16px;
    }
    
    .lecture-date {
        background-color: rgba(255, 164, 79, 0.5);
        border-radius: 3px;
        color: rgb(201, 122, 49);
        font-size: 13px;
        padding: 2px 4px;
        font-weight: bold;
        margin-left: 15px;
    }
    
    .banner-title {
        font-size: 16px;
        font-weight: bold;
    }
    
    .banner-link-p {
        background-color: #f6f7fb;
        padding: 8px 10px;
    }
    
    .banner-link {
        background-color: #fbfcff;
        padding: 7px 9px;
        color: black;
    }
    
    .banner-arrow {
        float: right;
        color: #4e70ce;
    }
    
    .bannerColumn {
        padding: 20px 15px 0;
        margin-top: 30px;
    }
    
    .labelLogin {
        display: block;
        margin-left: 10%;
        margin-top: 18px;
    }
    
    .inputLogin {
        width: 80%;
        margin-left: 10%;
        border: 1px solid #4e70ce;
        border-radius: 3px;
        height: 28px;
    }
    
    .loginForm {
        border: 1px solid #4e70ce;
        border-radius: 5px;
        padding: 50px 30px 80px;
        margin: 80px 0;
        background-color: #4e70ce6b;
    }
    
    .buttonLogin {
        background-color: #638cff;
        padding: 3px 9px;
        border-radius: 5px;
        font-weight: bold;
        float: right;
        margin-right: 10%;
        margin-top: 20px;
        border: 2px solid #5980eb;
    }
    
    .admin {
        margin-right: 10px;
        color: rgb(112, 37, 37);
    }
    
    .adminLinks {
        color: #333;
        border-bottom: 1px dotted rgb(161, 161, 161);
        font-size: 18px;
        padding-bottom: 10px;
    }
    
    .adminColumn {
        padding-top: 30px;
    }
    
    .min-height {
        min-height: 74vh;
    }
    
    .formIntro {
        font-size: 20px;
        padding: 20px 0;
    }
    
    .categoryFormLabel,
    .lectureFormLabel {
        display: block;
        margin-top: 20px;
    }
    
    .categoryFormInput,
    .lectureFormInput {
        width: 100%;
        border-radius: 3px;
        border: 1px solid rgba(51, 51, 51, 0.788);
        height: 28px;
    }
    
    .submitForm {
        background-color: rgba(51, 51, 51, 0.815);
        padding: 3px 9px;
        border-radius: 5px;
        margin-top: 20px;
        border: 1px solid #333;
        color: white;
        display: block;
        float: right;
    }
    
    .addCategoryForm,
    .addLectureForm {
        width: 50%;
    }
    
    .textAreaForm {
        resize: none;
        width: 100%;
        border-radius: 3px;
        border: 1px solid rgba(51, 51, 51, 0.788);
    }
    
    .subscribeFormLabel {
        display: block;
    }
    
    .modalDialog {
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .modalContent {
        min-width: 80%;
    }
    
    .modalForm {
        margin: 30px 20px 20px;
    }
    
    .subscriberFormInput {
        width: 90%;
        height: 30px;
        border: 1px solid rgb(105, 105, 105);
        border-radius: 3px;
        margin-bottom: 20px;
    }
    
    .edit-icon {
        float: right;
        color: #333;
        font-size: 15px;
    }
    
    .card-min-height {
        min-height: 250px;
    }
    
    .deleteLecture {
        float: right;
        font-size: 15px;
        color: darkred;
    }
    
    .text-fit {
        word-wrap: break-word;
    }
    
    .errorForm {
        color: darkred;
        font-weight: bold;
        font-size: 12px;
        float: right;
    }
    
    .requiredForm {
        font-size: 12px;
        color: darkred;
    }
    
    .errorFormStar {
        color: darkred;
        font-weight: bold;
        font-size: 12px;
    }
    
    .lengthInput {
        color: rgb(201, 122, 49);
        font-size: 11px;
        float: right;
        padding-top: 5px;
    }
    
    @media screen and (max-width:768px) and (min-width:426px) {
        .buttonJoin {
            margin-top: 5px;
            margin-left: 5px;
        }
        .buttonNavigation {
            margin-top: 5px;
        }
        .navbarLogoPhoto {
            margin-top: -25px;
            width: 8vw;
        }
        .category-desc {
            font-size: 12px;
        }
        .addCategoryForm,
        .addLectureForm {
            width: 80%;
        }
    }
    
    @media screen and (max-width:425px) {
        .card {
            width: 90%;
            margin: 5%;
        }
        .buttonJoin {
            display: block;
            width: 30%;
            margin-left: 2%;
        }
        .buttonNavigation {
            display: block;
            margin-top: 5px;
            text-align: start;
        }
        .navbarLogoPhoto {
            margin-top: -20px;
            width: 12vw;
        }
        .sandwitchButton {
            border: 1px solid rgb(182, 182, 182);
        }
        .sandwitchLine {
            border: 1px solid rgb(182, 182, 182);
        }
        .subscribe-main-text {
            font-size: 18px;
        }
        .addCategoryForm,
        .addLectureForm {
            width: 80%;
            margin-left: 10%;
        }
        .formIntro {
            margin-left: 10%;
        }
    }